

@{
    ViewBag.Title = "Update";
    @* Layout = "~/Views/Shared/_ProducttLayout.cshtml"; *@
}


<h2>Update</h2>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    $(document).ready(function () {
        LoadDepartment();
        if (@ViewBag.c_empid > 0) {
            LoadOneProduct();
        }
    });

    function LoadOneProduct() {
        var settings = {
            "url": "https://localhost:7123/api/CrudApi/" + @ViewBag.c_empid,
            "method": "GET",
            "timeout": 0,
            "headers": { "Authorization": 'Bearer ' + localStorage.getItem('token') }
        };

        $.ajax(settings).done(function (response) {
            $("#c_empname").val(response.c_empname);
            $("input[name='c_gender'][value='" + response.c_gender + "']").prop("checked", true);

            // Checkbox logic
            var Shifts = response.c_shift.split(", ");
            Shifts.forEach(function (c_shift) {
                $("input[name='c_shift'][value='" + c_shift + "']").prop("checked", true);
            });
            // End of checkbox logic

            $("#c_depid").val(response.c_depid);
            $("#c_dob").val(response.c_dob);
            $("#c_empimage").val(response.c_empimage);

        });
    }
    function LoadDepartment(){
    var settings = {
        "url": "https://localhost:7123/api/CrudApi/GetAllDepartment",
        "method": "GET",
        "timeout": 0
    };
    $.ajax(settings).done(function (response) {
       
            $.each(response, function(Update, department) {
                $('#c_depid').append($('<option>', {
                value: department.c_depid,
                text: department.c_dename
            }));
        });

    });
}

    function UpdateProduct() {
        var addProduct = {
            c_empid: $("#c_empid").val(),
            c_empname: $("#c_empname").val(),
            c_gender: $("input[name='c_gender']:checked").val(),
            c_shift: $("input[name='c_shift']:checked").map(function () { return $(this).val(); }).get(), // Get array of checked checkbox values
            c_depid: $("#c_depid").val(),
            c_dob: $("#c_dob").val(),
            c_empimage: $("#c_empimage").val()
            // Include additional fields if needed
        };

        var updateProduct = {
            c_empid: $("#c_empid").val(),
            c_empname: $("#c_empname").val(),
            c_gender: $("input[name='c_gender']:checked").val(),
            c_shift: $("input[name='c_shift']:checked").map(function () { return $(this).val(); }).get(), // Get array of checked checkbox values
            c_depid: $("#c_depid").val(),
            c_dob: $("#c_dob").val(),
            c_empimage: $("#c_empimage").val()
            // Include additional fields if needed
        };

        var settings = {
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json",
                "Authorization": 'Bearer ' + localStorage.getItem('token')
            }
        };

        if (@ViewBag.c_empid == 0) {
            settings.url = "https://localhost:7123/api/CrudApi/Insert";
            settings.method = "POST"; // Add forward slash
            settings.data = JSON.stringify(addProduct);
        } else {
            settings.url = "https://localhost:7123/api/CrudApi/";
            settings.method = "PUT";
            settings.data = JSON.stringify(updateProduct);
        }

        $.ajax(settings)
            .done(function (response) {
                alert("Successfully Updated!");
                console.log("Redirection to /MVCCrudApi/Index...");
                window.location = "/MVCCrudApi/Index";
            })


    }
</script>

<div class="form-horizontal">
    <div class="form-group">
        <div>
            <label type="" name="c_empid" id="c_empid"> id: @ViewBag.c_empid</label>
        </div>


        <div class="form-group">
            <label for="c_empname">Name</label>
            <input type="text" name="c_empname" id="c_empname" class="form-control" />
        </div>


        <div class="form-group">
            <label>Gender</label>
            <div class="form-check">
                <input type="radio" name="c_gender" id="male" class="form-check-input" value="Male">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check">
                <input type="radio" name="c_gender" id="female" class="form-check-input" value="Female">
                <label class="form-check-label" for="female">Female</label>
            </div>
        </div>



        <div class="form-group">
            <label for="c_shift">Shift</label><br>
            <label for="c_shift">Morning</label>
            <input type="checkbox" name="c_shift" id="c_shift" value="Morning" /><br>
            <label for="c_shift">Afternoon</label>
            <input type="checkbox" name="c_shift" id="c_shift" value="Afternoon" /><br>

        </div>

           <div class="form-group">
            <label for="c_depid">Department</label>
            <select id="c_depid">
                <option value="">Select a Department...</option>
            </select>

        </div>

        



        <div class="form-group">
            <label for="c_dob">Date</label>
            <input type="text" name="c_dob" id="c_dob" class="form-control" />
        </div>

        <div class="form-group">
            <label for="c_empimage">Image</label>
            <input type="file" name="c_empimage" id="c_empimage" class="form-control" />
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Save" onclick="UpdateProduct()" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>