@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form id="loginForm" method="post" style="max-width: 400px; margin: 0 auto; padding: 20px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <!-- Ensure method is set to "post" -->
    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="text" class="form-control" id="c_emailid" name="c_emailid" style="border-radius: 20px; border: 1px solid #ccc; padding: 10px;">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="c_password" name="c_password" style="border-radius: 20px; border: 1px solid #ccc; padding: 10px;">
    </div>
    <button type="submit" class="btn btn-primary" style="border-radius: 20px; padding: 10px 20px; background-color: #007bff; border-color: #007bff; color: #fff;">Login</button>
</form>
@section Scripts {
    
    <script>
        $(document).ready(function () {
            $('#loginForm').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: 'https://localhost:7123/api/UserApi/Login',
                    type: 'POST',
                    data: $(this).serialize(),
                    
                });
            });
        });
    </script>
}
